<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @quarto.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @quarto.telefone %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @quarto.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @quarto.valor %>
</p>

<%= link_to 'Edit', edit_quarto_path(@quarto) %> |
<%= link_to 'Back', quartos_path %>
